@inherits UmbracoViewPage<ContentModels.IFooterControls>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
<head>
    <link rel="stylesheet" href="style.css"></link>
</head>
@if (Model != null)
{
    var HomePagina = (IPublishedContent)Model;

    <footer id="footer" class="flex-container-item">
            <div class="footer-logo">
                <a class="logo" href="Home.html"><i class="fa fa-key logo"> SecureSend</i></a>
                <p>copyright &copy; 2020</p>
                <p>Created by Alec Van Oosterwijck</p>
              </div>
            @if (Model.FooterSocialLinks != null && Model.FooterSocialLinks.Any())
            {
                <div class="footer-follow">
                    <h4>follow us :</h4>
                    <div class="social-links">
                    @foreach (var item in Model.FooterSocialLinks)
                    {
                        @if (item is ContentModels.IconLinkItem)
                        {
                            var linkItem = item as ContentModels.IconLinkItem;
                            @* <a href="@(linkItem.Link.Url)" target="@linkItem.Link.Target" rel="noopener" title="@linkItem.Link.Name" class="bg-primary"><i class="icon @(item.Value<string>("icon").ToIconClass())"></i></a> *@
                        }
                    }
                    </div>
                </div>
            }
            @if (Model.FooterContentLinks != null && Model.FooterContentLinks.Any())
            {
            <div class="footer-sitemap">
            <h4>Sitemap :</h4>
            <ul>
                    @foreach (var item in Model.FooterContentLinks)
                    {
                        <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                    }
             </ul>
            </div>
            }
              <div class="footer-contact">
                <h4>Contact Gegevens :</h4>
                <ul>
                    <li>Securesend@email.com</li>
                    <li>0477 11 22 33</li>
                    <li>2590 Leopoldlaan 9</li>
                </ul>
              </div>
    </footer>
}