@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePagina>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@{
    Layout = "MasterTemplate.cshtml";
}
<head>
  <link rel="stylesheet" href="/css/home-style.css">
</head>
<div id="hero" class="flex-container-item">
          <div class="hero-parent">
            <div class="hero-item">
              <div>
                <h1>@Model.Value("siteName")</h1>
                <h4>@Model.Value("onderTitle")</h4>
                  @Html.GetBlockListHtml(Model.MainContent)
                  <a href="#verstuur">
                    <div class="icon-background">
                      <i class="fas fa-arrow-down"></i>    
                    </div>
                  </a>
                </div>
              </div>
            </div>  
          </div>
          <div id="verstuur" class="hero-item">
              <h2>@Model.Value("sectieTitel")</h2>
              <div class="verstuur-parent">
                <div class="verstuur-item">
                  @if (Model.Foto is not null)
                    {
                        <img src="@Url.GetCropUrl(Model.Foto, height: 300, width: 400)" alt="@Model.Foto.Name" />
                    }
                </div>
                  <div class="verstuur-item">
                    <div>
                      <div class="bericht">
                        <h5>@Model.Value("areaTitel")</h5>
                        <textarea placeholder="Vul hier jouw bericht in ..."></textarea>
                      </div>
                      <div class="datum-item">
                          <h5>@Model.Value("dropTitel")</h5>
                          <select name="datum" id="vervalDatum">
                            <option value="druk">Na drukken op link</option>
                            <option value="uur">Na 1 uur</option>
                            <option value="dag">Na 1 dag</option>
                            <option value="week">Na 1 week</option>
                          </select>
                    </div>
                    <div class="wachtwoord-item">
                      <div class="flex">
                        <h5>@Model.Value("wachtwoordTitel")</h5>
                        <label class="checkbox">
                          @* <input @click="wachtwoordToggle()" type="checkbox"> *@
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="uitlijning">
                      <input :class="{show:wachtwoord, hide:!wachtwoord}" class="wachtwoord" placeholder="Wachtwoord" type="password">
                      <button>@Model.Value("buttonContent")</button>
                    </div>
                  </div>
              </div>
            </div>
      </div>