@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/CSS/Style.css"></link>
  <link rel="stylesheet" href="css/CSS/home-style.css"></link>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <link rel="icon" type="image/x-icon" href="img/icon.jpg">
  <title>SecureSend</title>
</head>
<body>
  <div class="flex-container">
    <div class="pagina-padding">
        <!-- Dit is de navbar -->
        <nav id="navbar" class="flex-container-item">
          <ul>
            <li class="logo"><a href="/">SecureSend</a></li>
            <li class="item">
              <a href="/">Home</a>
            </li>
            <li class="item">
              <a href="/About">Over Ons</a>
            </li>
            <li class="item">
              <a href="/Privacy">PrivacyPolicy</a>
            </li>
            <li class="item">
              <a href="/Contact">Contact</a>
            </li>
            <li class="burger">
              <a><i class="fas fa-bars"></i></a>
            </li>
          </ul>
        </nav>
      <!-- Einde van de navbar -->
      @RenderBody()
            <!-- Begin footer -->
            <footer id="footer" class="flex-container-item">
              <div class="footer-logo">
                <a class="logo" href="Home.html"><i class="fa fa-key logo"> SecureSend</i></a>
                <p>copyright &copy; 2020</p>
                <p>Created by Alec Van Oosterwijck</p>
              </div>
              <div class="footer-follow">
                <h4>follow us :</h4>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a> 
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="footer-sitemap">
                <h4>Sitemap :</h4>
                <ul>
                @foreach (var link in Model.Value<List<Umbraco.Cms.Core.Models.Link>>("footerLinks", fallback: Fallback.ToAncestors))
              {
                
              <li><a href="@link.Url" target="@link.Target">@link.Name</a></li>
                
              } 
                </ul>
              </div>
              <div class="footer-contact">
                <h4>Contact Gegevens :</h4>
                <ul>
                  <li>@Model.Value("emailAddress", fallback: Fallback.ToAncestors)</li>
                  <li>@Model.Value("phoneNumber", fallback: Fallback.ToAncestors)</a></li>
                  <li>@Model.Value("postalAddress", fallback: Fallback.ToAncestors)</li>
                </ul>
              </div>

            </footer>
            <!-- Einde footer -->
            @RenderBody()
        </div>
      </div>
  </body>
</html>