@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
}
<head>
  <link rel="stylesheet" href="/css/home-style.css"/>
</head>
        <div id="hero" class="flex-container-item">
        
          <div class="hero-parent">
            <div class="hero-item">
              <div>
                <h1>@Model.Value("pageTitle")</h1>
                <h4>@Model.Value("onderTitel")</h4>
                <div class="cards">
                  <div class="card">
                    <div class="icon-background"><i class="fas fa-lock"></i></div>
                    <h5>@Model.Value("cardTitle")</h5>
                    <p>@Model.Value("cardContent")</p>
                  </div>
                  <div class="card">
                    <div class="icon-background"><i class="far fa-trash-alt"></i></div>
                    <h5>Verwijder</h5>
                    <p> optio nihil pariatur nostrum assumenda maxime magni ad doloremque animi. Numquam, molestiae.</p>
                  </div>
                  <div class="card">
                    <div class="icon-background"><i class="fas fa-exchange-alt"></i></div>
                    <h5>Deel info</h5>
                    <p> ipsum velit omnis suscipit nihil veniam placeat ratione dolore architecto reiciendis! Cumque repellendus possimus reiciendis.</p>
                  </div>
                  <div class="card">
                    <div class="icon-background"><i class="fas fa-book-open"></i></div>
                    <h5>Open source</h5>
                    <p> Qui perferendis doloremque ducimus, tenetur aliquam blanditiis atque ad reiciendis numquam at veritatis.</p>
                  </div>
                </div>
                <div>
                  <a href="#verstuur">
                    <div class="icon-background">
                      <i class="fas fa-arrow-down"></i>    
                    </div>
                  </a>
                </div>
              </div>
            </div>  
          </div>
        
   

            <div id="verstuur" class="hero-item">
              <h2>@Model.Value("verstuurTitle")</h2>
              <div class="verstuur-parent">
                <div class="verstuur-item">
                  @foreach (var item in Model.Children.Where(c => c is ISummary).Cast<ISummary>())
                   {
                     if(item.ShortDescription == null) 
                     {<p>tis leeg</p>
                     continue;
                   }
         <img src='@item.Picture.verstuurImage(height: 100)'/>
         }
                </div>
                  <div class="verstuur-item">
                    <div>
                      <div class="bericht">
                        <h5>@Model.Value("geheimBerichtTitel")</h5>
                        <textarea placeholder="Vul hier jouw bericht in ..."></textarea>
                      </div>
                      <div class="datum-item">
                          <h5>@Model.Value("vervalTitel")</h5>
                          <select name="datum" id="vervalDatum">
                            <option value="druk">Na drukken op link</option>
                            <option value="uur">Na 1 uur</option>
                            <option value="dag">Na 1 dag</option>
                            <option value="week">Na 1 week</option>
                          </select>
                    </div>
                    <div class="wachtwoord-item">
                      <div class="flex">
                        <h5>@Model.Value("wachtwoordTitel")</h5>
                        <label class="checkbox">
                          @* <input @click="wachtwoordToggle()" type="checkbox"> *@
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="uitlijning">
                      <input :class="{show:wachtwoord, hide:!wachtwoord}" class="wachtwoord" placeholder="Wachtwoord" type="password">
                      <button>@Model.Value("creerKnop")</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
        </div>