@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/Style.css"></link>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <link rel="icon" type="image/x-icon" href="img/icon.jpg">
  <title>SecureSend</title>
</head>
<body>
  <div class="flex-container" id="container">
    <div class="pagina-padding">
      <!-- Dit is de navbar -->
        <nav id="navbar" class="flex-container-item">
          <ul>
           <li class="logo"><a href="/home">@Model.Value("navBrand")</a></li>
              @foreach (var link in Model.Value<List<Umbraco.Cms.Core.Models.Link>>("navLinks", fallback: Fallback.ToAncestors))
                {
                  <li :class="{show:showNav, hide:!showNav}" class="item"><a href="@link.Url" target="@link.Target">@link.Name</a></li> 
                } 
              @* <a><i @click="burgerToggle()" class="fas fa-bars"></i></a> *@
            </li>
          </ul>
        </nav>
      <!-- Einde van de navbar -->
      @RenderBody()
      <!-- Begin footer -->
            <footer id="footer" class="flex-container-item">
              <div class="footer-logo">
                <a class="logo" href="Home.html"><i class="fa fa-key logo">@Model.Value("footerLogo")</i></a>
                <p>@Model.Value("copyright")</p>
                <p>Created by Alec Van Oosterwijck</p>
              </div>
              <div class="footer-follow">
                <h4>@Model.Value("socialMediaTitel")</h4>
                <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="footer-sitemap">
                <h4>@Model.Value("linksTitel")</h4>
                 <ul> @*dit zorgt ervoor dat elke link op elke pagina hetzelfde is want ze gaan kijken bij de ouder (Home Pagina) *@
                    @foreach (var link in Model.Value<List<Umbraco.Cms.Core.Models.Link>>("links", fallback: Fallback.ToAncestors))
                  {
                  <li><a href="@link.Url" target="@link.Target">@link.Name</a></li> 
                  } 
                </ul>
              </div>
              <div class="footer-contact">
                <h4>@Model.Value("informatieTitle")</h4>
                <ul>
                  <li>@Model.Value("eMail", fallback: Fallback.ToAncestors)</li>
                  <li>@Model.Value("telefoonNummer", fallback: Fallback.ToAncestors)</a></li>
                  <li>@Model.Value("locatie", fallback: Fallback.ToAncestors)</li>
                </ul>
              </div>
            </footer>
          <!-- Einde footer -->
    </div>
  </div>
  <script src="wwwroot/scripts/script.js"></script>
</body>
</html>